body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: purple;
    margin: 10;
    padding: 14;
}

h1 {
    color: black;
    font-size: 15;
    margin: 10px;
}

p {
    color: black;
    font-size: 10;
    margin: 10px;
}