body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    color:#333;
    font-size: 16px;
    text-align: left;
}
.funphg {
    color: black;
    font-size: 5px;
    text-align: left;
}
